[remote "settings"]
	url = https://github.com/shadowrylander/settings.git
	fetch = +refs/heads/main:refs/remotes/origin/main
	pushurl = git@github.com:shadowrylander/settings.git
[remote "borg"]
	url = https://github.com/emacscollective/borg.git
	fetch = +refs/heads/master:refs/remotes/origin/master
[remote "epkg"]
	url = https://github.com/emacscollective/epkg.git
	fetch = +refs/heads/master:refs/remotes/origin/master
[remote "closql"]
	url = https://github.com/emacscollective/closql.git
	fetch = +refs/heads/master:refs/remotes/origin/master
[remote "emacsql"]
	url = https://github.com/skeeto/emacsql.git
	fetch = +refs/heads/master:refs/remotes/origin/master
[remote "upstream"]
  url = https://github.com/shadowrylander/.emacs.d.git
  fetch = +refs/heads/*:refs/remotes/upstream/*
	pushurl = git@github.com:shadowrylander/.emacs.d.git
[alias]
  merge-upstream = git merge -s recursive -X ours upstream/main
