*

# From: https://jasonstitt.com/gitignore-whitelisting-patterns
!*/

!**/**/*.org
!**/**/README.*
!**/**/custom.el
!**/**/makefile
!**/**/*.mk
!**/**/*.git*
!**/**/*.dep

!/settings/**/**
!/themes/screenshots/**/**

!/LICENSE
!/borg.gif
!/nebby.webp
!/git-subtree
!/early-init.el
!/init.el

**/**/README.el
**/**/README.elc
**/**/.local

/lib
/profiles
/epkgs
/var
/elpa
/quelpa