[submodule "a"]
	path = lib/a
	url = https://github.com/plexus/a.el.git
[submodule "alloy"]
	path = lib/alloy
	url = https://github.com/shadowrylander/alloy.git
[submodule "command-log-mode"]
	path = lib/command-log-mode
	url = https://github.com/lewang/command-log-mode.git
[submodule "cosmoem"]
	path = lib/cosmoem
	url = https://gitlab.com/shadowrylander/cosmoem.git
[submodule "deino"]
	path = lib/deino
	url = https://github.com/shadowrylander/deino.git
[submodule "dmenu"]
	path = lib/dmenu
	url = https://github.com/lujun9972/el-dmenu.git
[submodule "doc"]
	path = lib/doc
	url = https://github.com/shadowrylander/doc.git
[submodule "doom"]
	path = profiles/doom
	url = https://github.com/hlissner/doom-emacs.git
        build-step = ./bin/doom --yes --localdir .local purge
        build-step = ./bin/doom --yes --localdir .local clean
        build-step = ./bin/doom --yes --localdir .local install
        build-step = ./bin/doom --yes --localdir .local sync -u
        build-step = ./bin/doom --yes --localdir .local doctor
        profile = true
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "exwm"]
	path = lib/exwm
	url = https://github.com/ch11ng/exwm.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "fell"]
	path = lib/fell
	url = https://github.com/shadowrylander/fell.git
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "ido-completing-read+"]
	path = lib/ido-completing-read+
	url = https://github.com/DarwinAwardWinner/ido-completing-read-plus.git
[submodule "janus"]
	path = lib/janus
	url = https://github.com/shadowrylander/janus.git
[submodule "key-chord"]
	path = lib/key-chord
	url = https://github.com/emacsorphanage/key-chord.git
[submodule "leaf"]
	path = lib/leaf
	url = https://github.com/conao3/leaf.el.git
[submodule "leaf-keywords"]
	path = lib/leaf-keywords
	url = https://github.com/conao3/leaf-keywords.el.git
[submodule "meq"]
	path = lib/meq
	url = https://github.com/shadowrylander/meq
[submodule "naked"]
	path = lib/naked
	url = https://github.com/emacsmirror/naked.git
[submodule "one"]
	path = lib/one
	url = https://github.com/shadowrylander/one.git
[submodule "org"]
	path = lib/org
	url = https://code.orgmode.org/bzg/org-mode
        build-step = make
        build-step = make autoloads
        build-step = borg-update-autoloads
        build-step = borg-byte-compile
        build-step = borg-makeinfo
        load-path = lisp
[submodule "org-contrib"]
	path = lib/org-contrib
	url = https://git.sr.ht/~bzg/org-contrib
[submodule "prime"]
	path = lib/prime
	url = https://github.com/shadowrylander/prime.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "sorrow"]
	path = lib/sorrow
	url = https://github.com/shadowrylander/sorrow.git
[submodule "titan"]
	path = lib/titan
	url = https://github.com/shadowrylander/titan.git
[submodule "uru"]
	path = lib/uru
	url = https://github.com/shadowrylander/uru.git
[submodule "use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "use-package-deino"]
	path = lib/use-package-deino
	url = https://github.com/shadowrylander/use-package-deino.git
[submodule "use-package-extras"]
	path = lib/use-package-extras
	url = https://github.com/shadowrylander/use-package-extras.git
[submodule "use-package-hydra"]
	path = lib/use-package-hydra
	url = https://gitlab.com/to1ne/use-package-hydra.git
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "settings"]
	path = settings
	url = https://github.com/shadowrylander/settings.git
[submodule "lib/borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "lib/closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql.git
[submodule "lib/epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "lib/emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql.git
